{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-3 d-flex justify-content-between align-items-center" style="background-color: #A2CB8B;
            color: white;">
                <div>
                    <a href="{% url 'home' %}">
                        <img src="{% static 'icons/home.png' %}" alt="home" width="40" height="40">
                    </a>
                </div>
                <div>
                    <a href="{% if user.is_authenticated %}{% url 'accounts:profile' %}{% else %}{% url 'accounts:login' %}{% endif %}">
                        {% if user.is_authenticated and user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" alt="avatar" width="40" height="40" style="border-radius: 50%; object-fit: cover;">
                        {% else %}
                        <img src="{% static 'images/avatars/user.png' %}" alt="profile" width="40" height="40" style="border-radius: 50%; object-fit: cover;">
                        {% endif %}
                    </a>
                </div>
            </div>

            <div class="col-md-2 p-3" style="background-color: #DAF9DE; ; min-height: 100vh;">
              {% block sidebar %}
              <nav>
                <a href="#" class="d-block btn btn-outline-success w-100 mb-2">Дневник</a>
                <a href="#" class="d-block btn btn-outline-success w-100">Привычки</a>
              </nav>
              {% endblock %}
            </div>

            <div class="col-md-10 p-4" style="background-color: #DAF9DE;">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>