{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Отслеживай свои эмоции и формируй привычки</h1>
    <p>Веди дневник настроения, отслеживай привычки и получай персонализированные рекомендации от AI-ассистента.</p>

    <h3>Здесь ты можешь:</h3>
    <ul>
        <li>Описывать своё настроение каждый день. Выбирать дневную эмоцию и теги дня.</li>
        <li>Создавать привычки и отмечать их выполнение.</li>
        <li>Смотреть календари настроения и прогресса привычек.</li>
        <li>В случае необходимости получать аналитику и советы от AI-ассистента на основе твоих записей.</li>
    </ul>

    <h3>Почему это полезно?</h3>
    <p>Регулярное отслеживание эмоций и привычек помогает лучше понимать себя, снижать уровень стресса и достигать поставленных целей. А AI-ассистент заметит то, что ты мог упустить, и даст персонализированную рекомендацию.</p>
{% endblock %}